<div class="container">
  <div class="row">
    <div class="col-md-2 pt-3">
      <%= render 'public/posts/area_lists', areas: @areas %>
    </div>
    
    <h5 class="col-md-7 pt-2 pb-2">投稿一覧
      <%= render 'public/posts/posts_index' %>
    </h5>
  </div>
</div>
