<div class="container">
  <div class="row">
    <div class="col-md-2 pt-4">
      <%= render 'public/posts/area_lists', areas: @areas %>
    </div>
    
    <h5 class="col-md-5 pt-4 pb-2">投稿一覧
      <%= render 'public/posts/posts_index' %>
    </h5>
  </div>
</div>

<div class="mx-auto mt-3 pb-5">
  <%= paginate @posts %>
</div>
