<div class="container">
 <h1 class="text-center pt-5"><i class="fas fa-beer"></i> About</h1>
  <p class="text-center">
    MyNomiBarとは？<br/>
    お酒、友達とワイワイと飲みに行くことや、<br/>
    一人でお酒を嗜むことが好きな私が、皆さんのお勧めBarや穴場などを<br/>
    共有できる場所があればと思いこのサービスを作らせていただきました。<br/>
    いいね、コメントをし合えます。レビューも付けれるため自分の記録用としても<br/>
    利用いただきたいです！
  </p>