<div class="container">
  <div class="row">
    <h4 class="col-10 pt-3"><strong>いいね一覧</strong></h4>
  </div>
  <div class="row">
  <%= render 'public/posts/posts_index' %>
  </div>
  <!--ページネーション-->
  <div class="mx-auto">
    <%= paginate @posts %>
  </div>