<footer class="fixed-bottom" style="background-color: #f8f9fa">
  <div style="padding: 5px;">
    <h6 class="text-dark text-center mr-3" id="footer_logo"><small>©MyNomiBar</small></h6>
  </div>
</footer>